* {
  box-sizing: border-box;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(10, 14, 21);
  font-size: 17px;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.85);
}

a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
}

a:hover {
  border-bottom-width: 0;
}

.main {
  margin: 20vh auto 80px;
  width: calc(100% - 40px);
  max-width: 850px;
  display: grid;
  grid-template-columns: 128px auto;
  gap: 20px;
  font-size: 14px;
}

.profile-pic img {
  width: 128px;
  border-radius: 20px;
}

.info-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.info-table strong {
  color: rgba(255, 255, 255, 0.5);
}

h3 {
  font-size: 21px;
  margin-top: 34px;
}

h3 span {
  padding: 4px 6px;
  background: rgb(30, 34, 42);
  margin-left: -4px;
}

.work-table .row {
  display: grid;
  grid-template-columns: 120px auto;
  min-height: 28px;
  align-items: center;
}

.work-table .row label {
  color: rgb(0, 160, 255);
}

.work-table .row label.green {
  color: rgb(47, 204, 113);
}

.work-table .row label.red {
  color: rgb(255, 70, 20);
}

.work-table .row span {
  color: rgba(255, 255, 255, 0.75);
}

i,
.date,
.logbook .entry span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.divider {
  margin: 12px 0;
  width: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.entry {
  display: flex;
  gap: 8px;
}

.posts ul {
  list-style: none;
  padding: 0;
}

.posts li {
  line-height: 2;
}

::selection {
  color: rgba(253, 73, 193, 0.8);
  background: rgba(80, 60, 85, 0.3);
}

@media only screen and (max-width: 850px) {
  .main,
  .info-table {
    grid-template-columns: 1fr;
  }

  .main {
    margin-top: 10vh;
  }

  .profile-pic {
    margin-bottom: 20px;
  }

  .work-table .row {
    grid-template-columns: 1fr;
    margin-top: 12px;
  }

  .entry {
    flex-direction: column;
  }
}
